
 <mat-toolbar color="primary">
    <mat-toolbar-row>
        <span><a  href="/clubs">Ukrainian clubs</a></span>
        
        <span style="margin-left: 5%"><a  href="/stadiums">Stadiums</a></span>

        <span class="example-spacer"></span>
        <a mat-button href="/about">About</a>
        <a mat-button href="/clubs">Login</a>
        <a mat-button href="/clubs">Logout</a>

    </mat-toolbar-row>
</mat-toolbar>
<mat-card>
    <div class="container">
        <router-outlet> </router-outlet>       
    </div>
  
</mat-card>

