<div class="wrapper row2">
    <div id="container" class="clear">
    
      <div id="about-us" class="clear">

        <section id="team">
          <h2>About Us</h2>
          <h4 >We are the students and want to create something that will be interested for a major part of people.
            <br> Site created as a mini project based on Angular5.</h4>
          <ul class="clear">
            <li class="one_third first">
              <figure><img style="width: 40%; height: 30%;" src="../../../assets/Images/me.jpg" alt="Here should be me">
                <figcaption>
                  <p class="team_name">Oleg Gerys</p>
                  <p class="team_title">Student of SoftServe ITA</p>              
                </figcaption>
              </figure>
            </li>           
          </ul>
        </section>
       
      </div>
      
    </div>
  </div>