<div class="wrapper row2">
    <div id="container" class="clear">
    
      <div id="about-us" class="clear">
        <section id="about-intro" class="clear">
          <h2>About Us</h2>
          <img src="../../Images/stadium.jpg" alt="">
         
          <h4>We are the students and want to create something that will be interested for a major part of people.
            Created as a mini project based on Angular5</h4>
        </section>
        <section id="team">
          <h2>Our Team</h2>
          <ul class="clear">
            <li class="one_third first">
              <figure><img src="../../Images/me.jpg" alt="Here should be me">
                <figcaption>
                  <p class="team_name">Oleg Gerys</p>
                  <p class="team_title">Student of SoftServe ITA</p>              
                </figcaption>
              </figure>
            </li>
            <li class="one_third first">
                <figure><img src="../../Images/me.jpg" alt="Here should be me">
                  <figcaption>
                    <p class="team_name">Oleg Gerys</p>
                    <p class="team_title">Student of SoftServe ITA</p>              
                  </figcaption>
                </figure>
              </li><li class="one_third first">
                  <figure><img src="../../Images/me.jpg" alt="Here should be me">
                    <figcaption>
                      <p class="team_name">Oleg Gerys</p>
                      <p class="team_title">Student of SoftServe ITA</p>              
                    </figcaption>
                  </figure>
                </li><li class="one_third first">
                    <figure><img src="../../Images/me.jpg" alt="Here should be me">
                      <figcaption>
                        <p class="team_name">Oleg Gerys</p>
                        <p class="team_title">Student of SoftServe ITA</p>              
                      </figcaption>
                    </figure>
                  </li>
          </ul>
        </section>
       
      </div>
      
    </div>
  </div>